
<html>
    <head>
        <title>This is NodeJS HELP PAGE FILE</title>
    </head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet"  href="./css/styles.css">
<div class="main-content">
{{>header}}
<p>{{msg}}</p>

</div>
{{>footer}}
</html>