<html>
    <head>
        <title>This is NodeJS HELP PAGE FILE</title>
    </head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet"  href="./css/styles.css">
    <body>
        {{>header}}
<div class="main-content">
        <h1>Welcome To NodeJS HELP Page From Dynamic directory</h1>
        <img class="potrait" src="./img/honda.png"/>
        <p>{{name}}</p>
        </div>
         {{>footer}}
    </body>
   
</html>