<html>
    <head>
        <title>This is Weather  PAGE FILE</title>
    </head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet"  href="./css/styles.css">
    
    <body>
        <div class="main-content">
            {{>header}}
        <h1>Welcomes To Weather Page </h1>
        <form>
            <input >
            <button>Search!</button>
        </form>
        <p id="m1">
        </p>
        <p id="m2">
        </p>
        </div>
         {{>footer}}
         <script src="/js/app.js"></script>
    </body>
   
</html>